.page {
    margin: 60px 0;
}

.header *,
.nav__link {
    color: var(--text-color) !important;
}

.nav__link:after {
    background-color: var(--text-color);
}

.main__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__charts {  
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.main__chart__item {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 330px;
}

.chart {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: contain;
}

.chart__subtitle {
    font-size: 1.1rem;
    font-weight: 300;
}