.page {
    margin: 60px 0;
}

.header *,
.nav__link {
    color: var(--text-color) !important;
}

.nav__link:after {
    background-color: var(--text-color);
}

.main__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__charts {  
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.main__chart__item {
    display: flex;
    flex-direction: column;
    width: calc(20% - 1rem);
}

.chart {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: contain;
}

.chart__subtitle {
    font-size: 1.1rem;
    font-weight: 300;
}

@media (max-width: 1100px) {
    .main__chart__item { width: 30%; }
}

@media (max-width: 1100px) {
    .main__chart__item { width: calc(50% - 1rem); }
}

@media (max-width: 640px) {
    .main__chart__item { width: 100%; }
}

@media (max-width: 480px) {
    .main { padding: 25px 0 0 0; }
}

@media (max-width: 400px) {
    .main__nav > .nav__link { font-size: .8rem; }
}