body {
    margin: 0;

    font-family: 'Resist Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

*,
*:before,
*:after {
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

a {
    margin: 0;
    text-decoration: none;
    outline: none;
}

section { padding: 25px 0; }
section:first-child { margin-bottom: 0; }

/*Container*/
.container {
    width: 100%;
    max-width: 1550px;
    padding: 0 2rem;
    margin: 0 auto;
    text-align: center;
    height: auto;
}

.page { overflow: hidden; }

/*Header*/
.header {
    position: absolute;
    width: 100%;
    padding-top: 15px;
    color: var(--color-brown-600);

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color .1s linear;
}

.header.fixed {
    padding: 1rem 0;
    background-color: var(--background-color);
    color: var(--text-color);

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header .nav__link { color: var(--color-brown-600); }
.header.fixed .nav__link { color: var(--text-color) }

.header__inner {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo { font-size: 1.2rem; }

/*Nav*/
.nav__link { color: var(--text-color); }

.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.nav-toggle:focus { outline: 0; }

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: var(--color-brown-600);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item { background: none; }

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: var(--color-brown-600);

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before { top: -8px; }
.nav-toggle__item:after { bottom: -8px; }

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 1rem;
    position: relative;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:first-child { margin-left: 0; }
.nav__link:last-child { margin-right: 0; }

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;

    background-color: var(--color-brown-600);
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.header.fixed .nav__link:after {
    background-color: var(--text-color);
}

.nav__link:hover { color: var(--color-gray); }
.nav__link:hover:after { opacity: 1; }

/* Footer */
.footer { width: 100%; }
.footer hr { margin: 0; }
.footer__inner { padding: 1rem 0; }

.footer__left,
.footer__right { 
    font-size: .8rem; 
    font-weight: 300;
}

.footer__right { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links { 
    display: flex;
    gap: 110px;
    margin-right: 0;
}

.footer__right > .nav__link { margin: 0; }

.footer__inner { 
    display: flex;
    text-align: left; 
}

.footer__inner > div { 
    width: 50%;
    position: relative; 
}

@media (max-width: 1200px) { .footer__links { gap: 5px; } }

@media (max-width: 1000px) {
    /* Header */
    .header { padding: 10px 0; }

    /* Nav */
    .nav {
        display: none;
        width: calc(100% + 65rem);
        text-align: right;

        position: absolute;
        top: 45px;
        right: -32px;
        padding-right: 2rem;

        background-color: transparent;
    }

    .header.fixed .nav { background-color: var(--background-color); }

    .nav.active,
    .nav-toggle {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 5px 0;
    }

    .header.fixed .nav-toggle__item:before,
    .header.fixed .nav-toggle__item:after
    .header.fixed .nav-toggle__item {
        background-color: var(--text-color) !important;
    }

    .footer__links { gap: 15px; }
}

@media (max-width: 660px) {
    .footer__inner { justify-content: space-between; }
    .footer__left, .footer__right { width: auto !important; }
    .footer__right { gap: 15px; }
}

@media (max-width: 500px) {
    .footer__inner {
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    .footer__right {
        flex-direction: column !important;
        justify-content: start !important;
        gap: 0 !important;
    }
}