/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;  
    min-height: 820px;  
    background: url("../img/background.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    box-shadow: inset 0 0 0 1000px var(--text-color-alpha-7);
    margin-bottom: 1rem;
}

.intro__inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    font-size: 8rem;
    line-height: .9;
}

.intro__subtitle {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.intro__title,
.intro__subtitle { color: var(--color-brown-600); }

/* About */
.about__inner,
.research__inner,
.footer__inner { text-align: left; }

.about__text,
.research__text,
.footer__inner { display: flex; }

.about__text > div,
.research__text > div,
.footer__inner > div { 
    width: 50%;
    position: relative; 
}

.about__text--left-column,
.research__text--left-column { font-size: 1.3rem; }

.about__text--right-column,
.research__text--right-column,
.form__item > label { 
    font-size: 1.1rem; 
    font-weight: 300;
}

.about__text--left-column,
.about__text--right-column,
.research__text--left-column,
.research__text--right-column {
    line-height: 1.3;
}

.about__text--right-column > span { margin-bottom: 40px; }
.about__text--right-column { 
    display: flex; 
    flex-direction: column;
}

.research__text { margin-bottom: 50px; }

/* Form */
.form {
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
}

.form__inner {
    padding: 30px 40px 50px;
    border-radius: 10px;
    background-color: var(--color-brown-150);
    width: 100%;
    height: auto;
}

.form__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-brown-600)
}

/* Team */
.team__photos {  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team__photo__item {
    position: relative;
    width: 25%;

    background: linear-gradient(to bottom, var(--color-brown-900), var(--color-brown-300));
}

.team__photo__item { transition: all .8s ease 0s; }
.team__photo__item:hover .photo { opacity: .1; }
.team__photo__item:hover .photos__info { opacity: 1; }

.photo {
    display: block;
    width: 100%;
    object-fit: cover;

    transition: opacity .2s linear;
}

.photos__info {
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: var(--text-color);
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.photos__title {
    margin-bottom: 5px;

    font-size: 1.15rem;
    line-height: 1;
    text-transform: uppercase;
}

.photos__text {
    font-size: 1.1rem;
    font-weight: 300;
    font-style: italic;
}

/* Review */
.review {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    background-color: var(--color-brown-150-alpha-5);
    align-items: center;

    transition: all 200ms linear;
}

.review__inner {
    position: relative;
    width: 60%;
    margin: auto;
    height: 400px;
    background-color: var(--color-brown-300);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.review__content {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.review__title {
    font-size: 2.5rem;
    color: var(--color-brown-600);
}

.review__form {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}

.review__form__item {
    width: 100%;
    display: flex;
    gap: 1rem;
    color: var(--text-color);
}

.review__form__item > label {
    font-size: 1.1rem;
    font-weight: 300;
}

.review__form__item > input { flex: 1; }

.close__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("../img/close.svg");
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: opacity .2s linear;
}

.close__btn:hover { opacity: .7; }

@media (max-width: 1100px) {
    .review__form__item > label { font-size: .9rem; }
}

@media (max-width: 980px) {
    .review__form__item { 
        align-items: start;
        flex-direction: column; 
        gap: 5px;
        width: 100%;
    }

    .review__form__item > input { width: 100%; }
}

@media (max-width: 980px) {
    .intro__title { font-size: 6rem; }

    .about__text--left-column,
    .research__text--left-column { font-size: 1rem; }

    .form { 
        margin-bottom: 20px;
        padding: 0; 
    }

    .form__title { font-size: 2rem; }
}

@media (max-width: 800px) {
    .intro__title { font-size: 4rem; }
    .form__title { font-size: 1.5rem; }

    .about__text--left-column,
    .research__text--left-column { font-size: .8rem; }

    .about__text--right-column,
    .research__text--right-column,
    .form__item > label { font-size: .9rem; }
}

@media (max-width: 660px) {
    .intro__title { font-size: 3rem; }
    .form__title { font-size: 1.2rem; }

    .about__text, .research__text { 
        flex-direction: column; 
        gap: 30px;
        width: 100%;
    }
    .about__text--left-column,
    .research__text--left-column { font-size: 1rem; }

    .about__text--right-column,
    .research__text--right-column,
    .form__item > label { font-size: 1rem; }

    .about__text--left-column,
    .research__text--left-column,
    .about__text--right-column,
    .research__text--right-column,
    .form__item > label { width: auto !important; }

    .form {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .form__inner {
        width: 100%;
        padding: 30px 40px;
    }

    .team__photo__item { width: 50%; }
    .photos__title { font-size: 1rem; }
    .photos__text { font-size: .8rem; }
    .review__title { font-size: 1.5rem; }

    .review__inner {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .intro__subtitle { font-size: 1rem; }
    .footer__inner { flex-direction: column; }
    .close__btn {
        background-size: cover;
        width: 25px;
        height: 25px;
    }

    .review__form__item > label { font-size: .7rem; }
    .review__form__item > input { font-size: .9rem; }
}

@media (max-width: 360px) {
    .photos__title { font-size: .9rem; }
    .photos__text { font-size: .7rem; }
}