.title {
    font-size: 5rem;
    line-height: .9;
    margin-bottom: 50px;
    text-align: left;
}

.hidden { display: none !important; }
.transparent { opacity: 0; }

.text__button {
    display: inline-block;
    background-color: var(--color-brown-600);
    color: var(--background-color);
    border: none;
    text-transform: uppercase;
    font-size: .93rem;
    line-height: .93rem;
    padding: .8rem 1.6rem;
    border-radius: 2rem;
    text-align: center;
    vertical-align: middle;
    width: fit-content;
    cursor: pointer;
    transition: background-color .2s linear;
}

.text__button:hover {
    background-color: var(--color-brown-900);
}

.text__button--form { text-transform: none; }
.brif--title { cursor: pointer; }
.brif--title > span { text-decoration: underline 2px var(--text-color); }

.innactive { 
    opacity: .7;
    pointer-events: none;
    cursor: none;
}

@media (max-width: 1200px) { 
    .title { font-size: 3rem; }

    .text__button {
        padding: .4rem .8rem;
        font-size: .7rem;
    }
}

@media (max-width: 1200px) { 
    .title { margin-bottom: 2rem; }
}

@media (max-width: 360px) {
    .title { font-size: 2rem; }
}